/* CSS Document */
main{
	font-family: vdl-logomarujr-pop-futoline, sans-serif;
	font-style: normal;
	font-weight: 400;
}
label, input {
  display: block;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;/*rem算出をしやすくするために*/
}

.btn,
a.btn,
button.btn {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
}


@media screen and (max-width:1024px){
    main{
	    position:absolute;
	    top:10vh;
	    left:0px;
	    height:90vh;
	    width:100vw;
	    background-color: floralwhite;
    }
	.MainImg{
		position:absolute;
		width:100vw;
		height:90vh;
		background:url("human.png") center no-repeat fixed;
		background-color: rgba(255,255,255,0.6);
		background-blend-mode: lighten;
		background-size:150vh;
	}
	.WishTitle{
		position: absolute;
		top:10vh;
		text-align: center;
		width:100vw;
		font-size:20px;
		font-family: mochiy-pop, sans-serif;
	    font-style: normal;
	    font-weight: 400;
		color: black;
	}
	.WishName{
		position: absolute;
		top:15vh;
		text-align: center;
		width:60vw;
		height:8vh;
		margin: 0 20vw;
		font-size:20px;
		font-family: mochiy-pop, sans-serif;
	    font-style: normal;
	    font-weight: 400;
		color: black;
	}
	.WishDetail{
		position: absolute;
		top:25vh;
		text-align: center;
		width:100vw;
		font-size:20px;
		font-family: mochiy-pop, sans-serif;
	    font-style: normal;
	    font-weight: 400;
		color: black;
	}
	.OutLine{
		position: absolute;
		top:30vh;
		text-align: center;
		width:60vw;
		height:35vh;
		margin: 0 20vw;
		font-size:20px;
		font-family: mochiy-pop, sans-serif;
	    font-style: normal;
	    font-weight: 400;
		color: black;
	}
	.SubmitButton{
		position: absolute;
		top:70vh;
		text-align: center;
		width:60vw;
		margin:0 20vw;
	}
	
	button.btn-border {
        border: 1px solid #000;
        border-radius: 0;
        background: floralwhite;
    }
    button.btn-border:hover {
        color: #fff;
        background: #000;
    }
	
}