/* CSS Document */
main{
	font-family: vdl-logomarujr-pop-futoline, sans-serif;
	font-style: normal;
	font-weight: 400;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;/*rem算出をしやすくするために*/
}

.btn,
a.btn,
button.btn {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
}


@media screen and (max-width:1024px){
    main{
	    position:absolute;
	    top:10vh;
	    left:0px;
	    height:150vh;
	    width:100vw;
	    background-color: floralwhite;
    }
	.MainImg{
		position:absolute;
		width:100vw;
		height:150vh;
		background:url("human.png") center no-repeat fixed;
		background-color: rgba(255,255,255,0.6);
		background-blend-mode: lighten;
		background-size:150vh;
		z-index: 2;
	}
	.WishTitle{
		font-size:24px;
		text-align: center;
		position:absolute;
		top:2vh;
		width: 60vw;
		height: 10vh;
		line-height: 10vh;
		margin:0 20vw;
		border: solid 2px #DCDDB1;
		font-family: mochiy-pop, sans-serif;
	    font-style: normal;
	    font-weight: 400;
		color: black;
		background-color: floralwhite;
		z-index:3; 
	}
	.WishList{
		position:relative;
		top:15vh;
		display: inline-block;
		text-align: center;
		font-size:20px;
		width:40%;
		border: solid 1px #999;
		margin:4%;
		background-color: floralwhite;
	}
	.WishContent{
		font-family: mochiy-pop, sans-serif;
	    font-style: normal;
	    font-weight: 400;
		color: black;
		position: fixed;
		top:25vh;
		height:60vh;
		width:60vw;
		margin:0 20vw;
		background-color: floralwhite;
		border:solid 3px #999;
	}
	.WishName{
		text-align: center;
		position: fixed;
		width:59vw;
        height:8vh;
		font-size:26px;
		margin: 5% 0;
		border-bottom:solid 3px #999;
	}
	.WishDetail{
		text-align: center;
		position: fixed;
		top:37vh;
		height:50vh;
		width:59vw;
		/*margin: 0 10%;*/
		font-size:24px;
	}
	.CloseButton{
		text-align: center;
		position: fixed;
		width:20%;
		height:15%;
		top:85%;
		left:41%;
	}
	
	
	button.btn-border {
        border: 1px solid #000;
        border-radius: 0;
        background: floralwhite;
    }
    button.btn-border:hover {
        color: #fff;
        background: #000;
    }
	button.btn--circle {
        width: 6vh;
        height: 6vh;
        padding: 0;
        background: #fff;
        border-radius: 50%;
        -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
        box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    }

    button.btn--circle i {
        font-size: 150%;
        line-height: 60px;
        -webkit-transition: all .3s;
        transition: all .3s;
        letter-spacing: 0;
    }
    button.btn--circle:hover i {
        line-height: 55px;
    }
	
    .hide{
        opacity: 0;
        visibility: hidden;
        transition: 1s;
    }
    .show{
        transition: 1s;
        opacity: 1;
        visibility: visible;
    }
	
}